{% extends 'base.html' %}
{% load static %}
{% block body %}

      <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/logo.jpeg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">OurPhonesTz</h1>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-bag"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <p>We provide free delivery to all Dar-es-Salaam clients. Also, we deliver to all regions inside and outside Tanzania.</p>
              </div>
            </div>      
          </div>
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Customer Support</h3>
                <p>We provide 24/7 customer support in all aspects such as enquiries and order tracking while delivering. </p>
              </div>
            </div>    
          </div>
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-payment-security"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Secure Payments</h3>
                <p>We value our customer's privacy and assure their payments and personal informations are so well secured.</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>

    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">New Phones Available</h2>
            <p>BRAND NEW IPHONES FROM UK,US,UAE
EXCHANGE ALLOWED ♻️</p>
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
			{% for new in newarrivals %}
    			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
    				<div class="product d-flex flex-column">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{{new.image.url}}" alt="{{new.name}}">
    						<div class="overlay"></div>
    					</a>
    				
    						<h3><a href="#">{{new.name}}</a></h3>
    						<div class="pricing">
	    						<p class="price"><span>{{new.price}} Tsh}</span></p>
	    					</div>
	    					<p class="bottom-area d-flex px-3">
    							<a href="{% url 'contact' %}" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
    						</p>
    					</div>
    				</div>
						{% endfor %}
    			</div>
    		

    		</div>
    	</div>
    </section>



    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">IPHONE'S Available</h2>
            <p>BRAND NEW IPHONES, USED IPHONES FROM UK,US,UAE
EXCHANGE ALLOWED ♻️</p>
          </div>
        </div>
    	</div>
    	<div class="container">
    		<div class="row">
			{% for ip in iphones %}
    			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
    				<div class="product d-flex flex-column">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{{ip.image.url}}" alt="{{ip.name}}">
    						<div class="overlay"></div>
    					</a>

    						<h3><a href="#">{{ip.name}}</a></h3>
    						<div class="pricing">
	    						<p class="price"><span>{{ip.price}} Tsh}</span></p>
	    					</div>
	    					<p class="bottom-area d-flex px-3">
    							<a href="{% url 'contact' %}" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
    						</p>
    					</div>
    				</div>
						{% endfor %}
    			</div>


    		</div>
    	</div>
    </section>



    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">SAMSUNG'S Available</h2>
            <p>BRAND NEW SAMSUNG,
USED IPHONES FROM UK,US,UAE
EXCHANGE ALLOWED ♻️</p>
          </div>
        </div>
    	</div>
    	<div class="container">
    		<div class="row">
			{% for sa in iphones %}
    			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
    				<div class="product d-flex flex-column">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{{sa.image.url}}" alt="{{sa.name}}">
    						<div class="overlay"></div>
    					</a>

    						<h3><a href="#">{{sa.name}}</a></h3>
    						<div class="pricing">
	    						<p class="price"><span>{{sa.price}} Tsh}</span></p>
	    					</div>
	    					<p class="bottom-area d-flex px-3">
    							<a href="{% url 'contact' %}" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
    						</p>
    					</div>
    				</div>
						{% endfor %}
    			</div>


    		</div>
    	</div>
    </section>


    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row">
        	<div class="col-lg-5">
        		<div class="services-flow">
        			<div class="services-2 p-4 d-flex ftco-animate">
        				<div class="icon">
        					<span class="flaticon-bag"></span>
        				</div>
        				<div class="text">
	        				<h3>Free Shipping</h3>
	        				<p class="mb-0">We provide free delivery to all Dar-es-Salaam clients. Also, we deliver to all regions inside and outside Tanzania.</p>
        				</div>
        			</div>
        			<div class="services-2 p-4 d-flex ftco-animate">
        				<div class="icon">
        					<span class="flaticon-heart-box"></span>
        				</div>
        				<div class="text">
	        				<h3>Valuable Gifts</h3>
	        				<p class="mb-0">We provide valuable gifts to our customers during delivery. Shop With Us</p>
	        			</div>
        			</div>
        			<div class="services-2 p-4 d-flex ftco-animate">
        				<div class="icon">
        					<span class="flaticon-customer-service"></span>
        				</div>
        				<div class="text">
	        				<h3>All Day Support</h3>
	        				<p class="mb-0">We provide 24/7 customer support in all aspects such as enquiries and order tracking while delivering.</p>
	        			</div>
        			</div>
        			<div class="services-2 p-4 d-flex ftco-animate">
        				<div class="icon">
        					<span class="flaticon-payment-security"></span>
        				</div>
        				<div class="text">
	        				<h3>Secure Payments</h3>
	        				<p class="mb-0">We value our customer's privacy and assure their payments and personal informations are so well secured.</p>
	        			</div>
        			</div>
        		</div>
        	</div>
          <div class="col-lg-7">
          	<div class="heading-section ftco-animate mb-5">
	            <h2 class="mb-4">Our satisfied customer says</h2>
	            <p>We've served 100's of clients and these are some of what my clients have to say.</p>
	          </div>
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_1.jpeg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">It was my pleasure doing business with OurPhonesTz and I have never regreted working with them.</p>
                    <p class="name">Subrina</p>
                    <span class="position">Business Woman</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_2.jpeg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">I've been doing business with OurPhonesTz since when I startd using Iphones and I've never ran out of issue.</p>
                    <p class="name">Roble</p>
                    <span class="position">Business Man</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_3.jpeg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">I really like how OurPhonesTz does phone exchange it is an affordable price and the exchange is really worth it.</p>
                    <p class="name">Farhiya</p>
                    <span class="position">Enterpreneur</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_4.jpeg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">What I like about OurphonesTz is being able to buy used phones which are actually original.</p>
                    <p class="name">Nasra</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_5.jpeg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">OurphonesTz does a really good job in doing delivery. They've delivered couple of my phones online.</p>
                    <p class="name">Ducalle</p>
                    <span class="position">Businessman</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-gallery">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
            <h2 class="mb-4">Follow Us On Instagram</h2>
            <p>Keep yourself posted and check out more of our stuffs on Instagram. Click 	<a href="https://www.instagram.com/our_phones_tz/" target="_blank">HERE</a></p>
          </div>
    		</div>
    	</div>
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="https://www.instagram.com/our_phones_tz/" target="_blank" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/ig1.jpeg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="https://www.instagram.com/our_phones_tz/ " target="_blank" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/ig2.jpeg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="https://www.instagram.com/our_phones_tz/ " target="_blank" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/ig3.jpeg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="https://www.instagram.com/our_phones_tz/ " target="_blank" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/ig4.jpeg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="https://www.instagram.com/our_phones_tz/ " target="_blank" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/ig5.jpeg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
				
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="https://www.instagram.com/our_phones_tz/ " target="_blank" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/ig6.jpeg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					
        </div>
    	</div>
    </section>
{% endblock body %}